@import './../../../styles/shared';

.list-overlay {
    position: absolute;
    z-index: 9000;
    background: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid $light-purple;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding: 20px 21px 20px 0;
    min-height: auto;

    &[hidden] {
        display: none !important;
    }

    &.in-write-message {
        bottom: 134px;
        left: 15px;
    }

    &.in-search-bar {
        top: 56px;
        left: 392px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;
    }

    // &.in-devspace {

    // }
}