<section class="sign-up-section">
    <!-- Form for entering and confirming new password -->
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="login-container">
        <span class="login-header">Passwort zurücksetzen</span>
        <div class="input-container">
            <div class="input-field-container">
                <input (input)="passwordError = false" placeholder="Neues Passowrt" type="password"
                    formControlName="password" class="input-field password" type="text">
            </div>
            <div class="input-field-container">
                <input (input)="passwordError = false" placeholder="Neues Passowrt bestätigen" type="password"
                    formControlName="passwordConfirm" class="input-field password" type="text">
                @if (passwordError){<span class="error-message">* Passwörter müssen übereinstimmen und mindestens 6
                    Zeichen enthalten.</span>}
            </div>
        </div>
        <div class="next-container">
            <button type="submit" class="next" [ngClass]="{
                'next-on' : allInputsChecked,
                'next-off' : !allInputsChecked
            }">Passwort ändern</button>
        </div>
    </form>
</section>