@import './../../../styles/shared';

.sign-up-section {
    height: 410px;
    width: 550px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.login-container {
    @include dFlex(column, center, center, 0);
    position: relative;
}

.login-header {
    @include fontNunito(40px, 700);
    color: #444DF2;
    margin: 30px 0;
}

.backarrow {
    position: absolute;
    top: 47px;
    left: 28px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.login-text {
    @include fontNunito(20px, 400);
    text-align: center;
    margin: 0 20px
}

.info-text {
    @include fontNunito(18px, 400);
    text-align: center;
    margin: 0 20px;
    color: #686868;
}

.input-field-container {
    position: relative;
    width: 100%;
}

.input-container {
    @include dFlex(column, center, center, 30px);
    width: 100%;
    padding: 30px 20px;

    .input-field {
        width: 100%;
        height: 40px;
        border-radius: 30px;
        border: none;
        background-color: #ECEEFE;
        padding: 0 15px 0 60px;
        @include fontNunito(16px, 500);
        color: #686868;
    }
}

.input-field-image {
    height: 20px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 25px;
}

.error-message {
    position: absolute;
    bottom: -45px;
    left: 5px;
    @include fontNunito(15px, 400);
    color: red;
}

.next-container {
    @include dFlex(row, end, center, 0px);
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;

    .next {
        @include fontNunito(18px, 700);
        padding: 10px 20px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
    }

    .next-on {
        background-color: #444DF2;
        cursor: pointer;
    }

    .next-off {
        background-color: #686868;
    }
}