@import './../../../styles/shared';

* {
    box-sizing: border-box;
}

.dialog-add-channel {
    background: $white;
    padding: 40px;
    border-radius: 30px;
    width: clamp(300px, 80%, 1536px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10vh;
    left: 10%;
    height: 80vh;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
    z-index: 9999;

    >.add-channel-headline {
        @include dFlex($jc: space-between);
        width: 100%;

        >h2 {
            @include fontNunito($size: 24px, $weight: 700);
        }

        >button {
            padding: 0;

            >.closing-icon {
                height: 40px;
                aspect-ratio: 1 / 1;
            }
        }
    }

    >.add-channel-subheadline {
        @include fontNunito($size: 18px, $weight: 400);
    }
}

.save-action {
    @include dFlex($jc: flex-end, $g: 10px);
    margin-top: 16px;
}