<div class="outside-overlay outside-overlay-individual" (click)="closeAddChannel()">
  <div class="overlay-content">
    <div (click)="$event.stopPropagation()" class="custom-scrollbar dialog-add-channel dialog-add-channel-individual">
      <div class="add-headline">
        <h2>Channel erstellen</h2>
        <app-close-button (close)="closeAddChannel()"></app-close-button>
      </div>
      <p class="add-channel-subheadline">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein, #marketing zum Beispiel.
      </p>

      <app-channel-name [control]="channelNameControl" [channelExistsError]="channelExistsError" [allowEditName]="false"
        [validationUntouched]="false" class="components-width">
      </app-channel-name>

      <app-channel-description [control]="channelDescriptionControl" [allowEditDescription]="false"
        class="components-width">
      </app-channel-description>

      <div class="save-action">
        <button type="button" (click)="saveChannel()" [disabled]="channelNameControl.invalid" class="submit-button"
          [class.button-disabled]="channelNameControl.invalid" [class.button-abled]="channelNameControl.valid">
          Erstellen
        </button>
      </div>
    </div>
  </div>
</div>