@import './../../../styles/shared';

* {
    box-sizing: border-box;
}

.dialog-add-channel {
    background: $white;
    padding: 40px;
    border-radius: 30px;
    width: clamp(300px, 80%, 700px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 80vh;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
    z-index: 999;

    @media (max-width: 664px) {
        padding: 40px 16px 20px 16px;
        gap: 25px;
    }

    >.add-channel-subheadline {
        @include fontNunito($size: 18px, $weight: 400);
    }
}

.add-headline {
    @include dFlex($jc: space-between);
    width: 100%;

    >h2 {
        @include fontNunito($size: 24px, $weight: 700);

        @media(max-width: 664px) {
            @include fontNunito($size: 20px, $weight: 700);
        }
    }
}

.components-width {
    width: 100%;
}