<section class="avatar-section">
    <div class="avatar-container">
        <span class="avatar-header">Wähle deinen Avatar</span>
        <a class="backarrow" routerLink="/signup"><img src="assets/img/arrow_back.svg" alt=""></a>
        <img class="avatar-big-image" [src]='avatarImg' alt="">
        <span class="name">Vorname Name</span>
        <div class="text-container">
            <span>Aus der Liste wählen</span>
        </div>
        <div class="avatar-images-container">
            @for (item of images; track $index) {
            <img (click)="setImage(item)" [src]=item alt="">
            }
            @if (noPicturePicked) {
            <span class="error-message">* Bitte Avatar auswählen</span>
            }
        </div>
        <div class="next-container">
            <a (click)="onSubmit()" routerLink="/pickavatar" class="next" [ngClass]="{
                'next-on' : picturePicked,
                'next-off' : !picturePicked
            }">Weiter</a>
        </div>
    </div>
</section>