<div *ngIf="isHeader" class="overlay" (click)="sharedHeader.toggleHeaderOverlay($event)"></div>

@if (isHeader) {
<div class="dopdown header-profile">
  <div class="dropdown-container">
    @if (sharedHeader.editName && isOwnProfile) {
    <span class="header">Dein Profil bearbeiten</span>
    } @else {
    <span class="header">Profil</span>
    }
    <img (click)="sharedHeader.changeDropdown()" src="assets/icons/close.svg" alt="">
  </div>
  @if (this.sharedHeader.newPicture) {
    <img class="profile-image" src="{{ avatarImg }}" alt="">
  }@else {
    <img class="profile-image" src="{{ user?.picture }}" alt="">
  }  

  @if (!sharedHeader.editName) {
  <div class="change-container-info">
    <div class="name-status">
      <div class="dropdown-container">
        <span class="name">{{ user?.name }}</span>
        @if (isOwnProfile && !sharedHeader.editName && !this.sharedUser.actualUser.guest) {
        <span (click)="sharedHeader.editNameMask()" class="edit">Bearbeiten</span>
        }
      </div>
      <div class="baseline-container">
        <div class="check-status" [class.online]="user?.status" [class.offline]="!user?.status"></div>
        <span [class.active]="user?.status" [class.inactive]="!user?.status">
          {{ user?.status ? 'Aktiv' : 'Abwesend' }}
        </span>
      </div>
    </div>

    <div class="baseline-container-mail">
      <img class="mail-icon" src="assets/icons/mail.svg" alt="">
      <div class="mail-container">
        <span class="mailtext">E-Mail Adresse</span>
        <span class="mail-adress">{{ user?.email }}</span>
      </div>
    </div>
  </div>

  @if (!isOwnProfile) {
    <div class="message-container">
      <button type="button" class="submit-button message-btn" (click)="sendMessage.emit(user!)">
        <img src="assets/icons/message.svg" alt="message icon">
        <span>Nachricht</span>
      </button>
    </div>
    }
  }

  @if (sharedHeader.editName && isOwnProfile) {
  <form [formGroup]="updateName" (ngSubmit)="onSubmit()" class="change-container-change">
    <div class="full-name-container">
      <img src="assets/icons/account_circle.svg" alt="">
      <span>Vollständiger Name</span>
    </div>
    <div class="input-container-profile">
      <input class="input-field" type="text" formControlName="name">
    </div>
    <div class="name-info-container">
        <span
        [ngClass]="{
          'visible': nameLength,
          'hidden': !nameLength
        }"
        >*Bitte min. 3 und max. 15 Buchstaben</span>
    </div>   
    <div class="avatar-images-container">
        @for (item of images; track $index) {
            <img (click)="setImage(item)" [src]=item alt="">
        }
    </div>
    <div class="login-button-container">
      <div (click)="sharedHeader.editNameMask()" type="button" class="login-button button-guest">Abbrechen</div>
      <button type="submit" class="login-button button-log-in">Speichern</button>
    </div>
  </form>
  }
</div>
}

@if (!isHeader) {
<div class="dopdown" [ngClass]="{ 'own-profile': isOwnProfile, 'not-own-profile': !isOwnProfile }">
  <div class="dropdown-container">
    @if (sharedHeader.editName && isOwnProfile) {
    <span class="header">Dein Profil bearbeiten</span>
    } @else {
    <span class="header">Profil</span>
    }
    <img (click)="close.emit()" src="assets/icons/close.svg" alt="close icon">
  </div>
  <img class="profile-image" src="{{ user?.picture }}" alt="">

  @if (!sharedHeader.editName) {
  <div class="change-container-info">
    <div class="name-status">
      <div class="dropdown-container">
        <span class="name">{{ user?.name }}</span>
        @if (isOwnProfile && !sharedHeader.editName) {
        <span (click)="sharedHeader.editNameMask()" class="edit">Bearbeiten</span>
        }
      </div>
      <div class="baseline-container">
        <div class="check-status" [class.online]="user?.status" [class.offline]="!user?.status"></div>
        <span [class.active]="user?.status" [class.inactive]="!user?.status">
          {{ user?.status ? 'Aktiv' : 'Abwesend' }}
        </span>
      </div>
    </div>

    <div class="baseline-container-mail">
      <img class="mail-icon" src="assets/icons/mail.svg" alt="">
      <div class="mail-container">
        <span class="mailtext">E-Mail Adresse</span>
        <span class="mail-adress">{{ user?.email }}</span>
      </div>
    </div>
  </div>

  @if (!isOwnProfile) {
  <div class="message-container">
    <button type="button" class="submit-button message-btn" (click)="sendMessage.emit(user!)">
      <img src="assets/icons/message.svg" alt="message icon">
      <span>Nachricht</span>
    </button>
  </div>
  }
  }

  @if (sharedHeader.editName && isOwnProfile) {
  <form [formGroup]="updateName" (ngSubmit)="onSubmit()" class="change-container-change">
    <div class="full-name-container">
      <img src="assets/icons/account_circle.svg" alt="">
      <span>Vollständiger Name</span>
    </div>
    <div class="input-container-profile">
      <input class="input-field" type="text" formControlName="name">
    </div>
    <div class="login-button-container">
      <div (click)="sharedHeader.editNameMask()" type="button" class="login-button button-guest">Abbrechen</div>
      <button type="button" class="login-button button-log-in">Speichern</button>
    </div>
  </form>
  }
</div>
}