<div class="dopdown">
    <div class="dropdown-container">
        <span class="header">Profil</span>
        <img src="assets/icons/close.svg" alt="">
    </div>
    <img class="profile-image" src="assets/img/avatar1.svg" alt="">
    <div class="dropdown-container">
        <span class="name">Name</span>
        <span class="edit">Bearbeiten</span>        
    </div>
    <div>
        <div class="check-status online"></div>
        <span>Aktiv</span>
    </div>
    <div>
        <img src="assets/icons/mail.svg" alt="">
        <span>E-Mail Adress</span>
    </div>
    <span>xyxy.de</span>
    <div>
        <img src="assets/icons/message.svg" alt="">
        <span>Nachricht</span>
    </div>
</div>
