@import './../../../styles/shared';

.message-board {
  flex-grow: 1;
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    background: $light-purple;
  }
}

.messages-container {
  width: 100%;
}

.date-border {
  width: 100%;
  display: flex;
  @include dFlex(row, center, center, 0px);
  padding: 25px 45px;
}

.border-line {
  width: 100%;
  height: 1px;
  background-color: #ADB0D9;
}

.border-text {
  @include fontNunito(18px, 400);
  color: black;
  padding: 5px 15px;
  border: 1px solid #ADB0D9;
  border-radius: 30px;
  white-space: nowrap;
}

.empty-channel-info-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 45px;

  .empty-channel-info-channel-name {
    @include fontNunito(24px, 700);
    color: black;
  }

  .empty-channel-info-channel-text {
    @include fontNunito(20px, 400);
    color: black;
  }

  .empty-channel-info-channel-text-channel {
    @include fontNunito(20px, 400);
    color: #535AF1;
  }

  .empty-channel-info-user-name {
    @include fontNunito(24px, 700);
    color: black;
    cursor: pointer;

    &:hover {
      color: #535AF1;
    }
  }
}

.empty-channel-user-container {
  @include dFlex(row, flex-start, flex-end, 25px);
  margin-bottom: 20px;

  img {
    width: 100px;
    height: auto;
    cursor: pointer;
  }
}

.highlighted {
  animation: highlight-fade 2s ease-out;
  background-color: #FCE498;
  border-radius: 30px;
}

@keyframes highlight-fade {
  0% {
    background-color: #FCE498;
  }

  24% {
    background-color: #FCE498;
  }

  100% {
    background-color: transparent;
  }
}