<section #messageContainer class="message-board">
    @for (groupItem of sharedMessages.groupedMessageDates; track $index) {
        <div class="date-border">
            <div class="border-line"></div>
            <span class="border-text">{{ groupItem }}</span>
            <div class="border-line"></div>
        </div>
    @for (item of sharedMessages.groupedMessages[groupItem]; track $index) {
        @if (item.user === sharedUser.actualUserID) {

            <app-own-message [message]="item" class="messages-container"></app-own-message>
        }
        @else {
            <app-user-message [message]="item" class="messages-container"></app-user-message>
        }   
               
    }
}
</section>
