.privacy-section {
  height: 600px;
  width: 850px;
  background-color: #FFFFFF;
  border-radius: 30px;
  font-family: 'Nunito';
  overflow-y: auto;
  padding: 3% 4%;

  h1 {
    margin-bottom: 20px;
    color: #444DF2;
  }

  h2 {
    margin: 20px 0;
    color: #444DF2;
  }
}

.privacy {
  height: 93%;
  overflow-y: auto;
  margin: 24px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.privacy-section::-webkit-scrollbar {
  width: 8px;
  height: 50px;
}

.privacy::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

@media (max-width: 880px) {
  .privacy-section {
    width: 650px;
  }
}

@media (max-width: 680px) {
  .privacy-section {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .privacy-section {
    width: 300px;
  }
}

@media (max-height: 700px) {
  .privacy-section {
    height: 450px;
  }
}

@media (max-height: 400px) {
  .privacy-section {
    height: 200px;
  }
}