<section class="sign-up-section">
    <div class="login-container">
        <span class="login-header">Konto erstellen</span>
        <a class="backarrow" routerLink="/login"><img src="./../../../assets/img/arrow_back.svg" alt=""></a>
        <span class="login-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        <div class="input-container">
            <div class="input-field-container">
                <input placeholder="Name und Nachname" class="input-field mail" type="text">
                <img class="input-field-image" src="assets/img/person_filled.svg" alt="">
            </div>
            <div class="input-field-container">
                <input placeholder="beispielname@email.com" class="input-field password" type="text">
                <img class="input-field-image" src="assets/img/mail.svg" alt="">
            </div>
            <div class="input-field-container">
                <input placeholder="Passwort" class="input-field password" type="text">
                <img class="input-field-image" src="assets/img/lock.svg" alt="">
            </div>
        </div>
        <div class="privacy-contaier">
            <div class="privacy-checkbox-container">
                <input class="privacy-checkbox" type="checkbox">
            </div>
            <span class="privacy-text">Ich stimme der <a href="">Datenschutzerklärung</a> zu</span>
        </div>
        <div class="next-container">
            <a routerLink="/pickavatar" class="next">Weiter</a>
        </div>
        


    </div>

</section>
