@import './../../../styles/shared';

.login-section {
    height: 600px;
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.login-container {
    @include dFlex(column, center, center, 0);
}

.login-header {
    @include fontNunito(40px, 700);
    color: #444DF2;
    margin: 30px 0;
}

.login-text {
    @include fontNunito(18px, 400);
    text-align: center;
    margin: 0 20px
}

.input-field-container {
    position: relative;
    width: 100%;
}

.input-field-image {
    height: 20px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 25px;
}

.input-container {
    @include dFlex(column, center, center, 30px);
    width: 100%;
    padding: 30px 20px;

    .input-field {
        width: 100%;
        height: 40px;
        border-radius: 30px;
        border: none;
        background-color: #ECEEFE;
        padding: 0 15px 0 60px;
        @include fontNunito(16px, 500);
        color: #686868;
    }
}

.no-passwort {
    @include fontNunito(16px, 400);
    color: #797EF3;
    cursor: pointer;
}

.or-container {
    width: 100%;
    @include dFlex(row, center, end, 10px);
    padding: 0 20px;
    margin: 15px 0 40px;

    .line {
        width: 100%;
        border-bottom: 1px solid black;
    }

    .or-text {
        @include fontNunito(16px, 400);
        color: #000000;
        top: 5px;
        position: relative;
    }
}

.google-login {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
    background-color: #ECEEFE;
    border-radius: 30px;
    @include dFlex(row, center, center, 10px);
    cursor: pointer;

    .google-img {
        width: 25px;
        height: auto;
    }

    .google-text {
        @include fontNunito(16px, 400);
        color: #444DF2;
    }

    &:hover {
        border: 2px solid #444DF2;

        .google-text {
            @include fontNunito(16px, 700);
        }
    }
}

.error-message {
    position: absolute;
    bottom: -21px;
    left: 5px;
    @include fontNunito(15px, 400);
    color: red;
}

.login-button-container {
    @include dFlex(row, center, center, 30px);
    margin: 35px 0;

    .login-button {
        @include fontNunito(18px, 700);
        padding: 10px 15px;
        border-radius: 25px;
    }

    .button-log-in {
        background-color: #444DF2;
        border: none;
        color: white;
        border: 1px solid #444DF2;
        cursor: pointer;

        &:hover {
            background-color: #797EF3;
            border: 1px solid #797EF3;
        }
    }

    .button-guest {
        background-color: transparent;
        border: 1px solid #444DF2;
        color: #444DF2;
        cursor: pointer;

        &:hover {
            background-color: #444DF2;
            color: white;
        }
    }
}

@media (max-width: 500px) {
    .login-section {
        width: 350px;
    }

    .login-header {
        margin: 20px 0;
        font-size: 32px;
    }
}

@media (max-width: 380px) {
    .login-section {
        width: 310px;
    }
}

@media (orientation: portrait) and (max-height: 900px) {
    .login-section {
        height: 450px;
        position: relative;
        margin-bottom: 45px;
    }

    .login-header {
        margin: 5px 0;
        font-size: 32px;
    }

    .input-container {
        padding: 10px 20px;
    }

    .login-button-container {
        margin: 20px 0;
    }

    .or-container {
        margin-bottom: 17px;
    }
}

@media (orientation: landscape) and (max-width: 1000px) {
    .login-section {
        height: 500px;
        position: relative;
        margin-bottom: 0px;
    }

    .or-container {
        margin: 10px 0;
    }

    .login-button-container {
        margin-top: 10px;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    .logo-name {
        display: none;
    }

    .login-section {
        width: 300px;
        height: 370px;
    }

    .input-container {
        gap: 10px;
    }

    .login-text {
        font-size: 16px;
    }

    .login-button-container {
        gap: 20px;
        margin: 5px 0;

        .login-button {
            @include fontNunito(16px, 700);
        }
    }

    .or-container {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .login-header {
        margin: 3px 0;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .logo-name {
        display: none;
    }

    .login-section {
        width: 300px;
        height: 370px;
    }

    .input-container {
        gap: 10px;
        padding: 5px 20px;
    }

    .login-text {
        font-size: 16px;
    }

    .login-button-container {
        gap: 20px;
        margin: 5px 0;

        .login-button {
            @include fontNunito(16px, 700);
        }
    }

    .or-container {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .login-header {
        margin: 3px 0;
    }
}

@media (orientation: landscape) and (max-height: 380px) {
    .login-section {
        width: 300px;
        height: 355px;
    }

    .input-field-image {
        top: 6px;
    }

    .input-container {
        .input-field {
            height: 32px;
        }
    }
}