<section class="login-section">
    <div class="login-container">
        <span class="login-header">Anmeldung</span>
        <span class="login-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        <div class="input-container">
            <div class="input-field-container">
                <input class="input-field mail" type="text">
            <img class="input-field-image" src="assets/img/mail.svg" alt="">
            </div>
            <div class="input-field-container">
                <input class="input-field password" type="text">
                <img class="input-field-image" src="assets/img/lock.svg" alt="">
            </div>
        </div>
        <span class="no-passwort">Passwort vergessen?</span>
        <div class="or-container">
            <div class="line"></div>
            <span class="or-text">ODER</span>
            <div class="line"></div>
        </div>
        <div class="google-login">
            <img class="google-img" src="assets/img/Google.png" alt="">
            <span class="google-text">Anmelden mit Google</span>
        </div>
        <div class="login-button-container">
            <button class="login-button button-log-in">Anmelden</button>
            <button class="login-button button-guest">Gäste-Login</button>
        </div>


    </div>

</section>