@import './../../../styles/shared';

.dopdown {
    width: 282px;
    height: 181px;
    background-color: white;
    @include dFlex(column, center, center, 15px);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 600;
    position: absolute;
    top: 86px;
    right: 32px;
    cursor: default;

    @media (max-width: 1000px) {
        top: 80px;
        right: 16px;
    }

    span {
        @include fontNunito(24px, 600);
    }
}

.dropdown-element {
    width: 222px;
    height: 53px;
    @include dFlex();
    border-radius: 100px;

    &:hover {
        background-color: #ECEEFE;
        color: #535AF1;
        cursor: pointer;
    }
}