@import './../../../styles/shared';

.dopdown {
    width: 282px;
    height: 181px;
    background-color: white;
    @include dFlex(column, center, center, 15px);
    position: absolute;
    top: 60px;
    right: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1000;
    span {
        @include fontNunito(24px, 600);
        cursor: pointer;
    }
}