<section class="sign-up-section">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="login-container">
        <span class="login-header">Passwort zurücksetzen</span>
        <a class="backarrow" routerLink="/login"><img src="./../../../assets/img/arrow_back.svg" alt=""></a>
        <span class="login-text">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        <div class="input-container">
            <div class="input-field-container">
                <input (input)="mailError = false" placeholder="beispielname@email.com" type="email"
                    formControlName="email" class="input-field password" type="text">
                <img class="input-field-image" src="assets/img/mail.svg" alt="">
                @if (mailError){<span class="error-message">* Bitte E-Mail angeben.</span>}
            </div>
        </div>
        <span class="info-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
            verwendest.</span>
        <div class="next-container">
            <button type="submit" class="next" [ngClass]="{
                'next-on' : allInputsChecked,
                'next-off' : !allInputsChecked
            }">E-Mail senden</button>
        </div>
    </form>
</section>