@import './../../styles/shared';

.wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.bg-layer {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #797EF3, #313AE5);
    z-index: -1;
    opacity: 1;
}

.logo-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 40%;
    left: 33%;
    transform-origin: top left;

    img {
        width: 140px;
        height: auto;
    }
}

.logo-name {
    height: 24px;
    width: auto;
    position: absolute;
    left: 161px;
    top: 100px;
    transform: translateX(50px);
    opacity: 0;
}

@media (max-width: 1000px) and (orientation: landscape) {
    .logo-container {
        top: 25px;
        left: 25px;
    }

    .logo-image {
        width: 56px;
        height: 56px;
    }
}

@media (orientation: portrait) {
    .logo-container {
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-image {
        width: 70px;
        height: 70px;
    }
}