.wrapper{
    background: linear-gradient(to bottom, #797EF3, #313AE5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    img{
        width: 10%;
    }
}