<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="write-message-section">
    <textarea [placeholder]="placeHolderText" formControlName="message" #input (input)="textError = false"
        placeholder="Nachricht an" class="" type="text">
    </textarea>
    <div class="buttons-container">
        <div class="buttons-left-container">
            <div class="buttons-left">
                <div class="add-emoji-container">
                    <div (click)="toggleEmojiOverlay()" class="smiley" src="assets/icons/smiley-button.svg" alt="">
                    </div>
                    @if(emojiOverlay || (this.mode === 'thread' && emojiThreadOverlay) ){
                    <div class="emoji-picker-container">
                        <emoji-mart (emojiSelect)="addEmoji($event)" [showPreview]="false" [enableSearch]="false"
                            [isNative]="true"></emoji-mart>
                    </div>
                    }
                </div>
            </div>
            <div class="buttons-left">
                <div (click)="toggleChannelsOverlay()" *ngIf="selectedChannel" class="at"></div>
                <div class="list-overlay" *ngIf="showChannels">
                    <app-channels [channels]="channels" [selectedChannelId]="selectedChannel?.channelId ?? null"
                        (channelSelected)="onSelectChannel($event)">
                    </app-channels>
                </div>
                <div (click)="toggleChannelsOverlay()" *ngIf="selectedUser" class="at"></div>
                <div class="list-overlay" *ngIf="showUsers">
                    <app-users [users]="users" [selectedUserId]="selectedUser?.id ?? null"
                        (userSelected)="onSelectUser($event)">
                    </app-users>
                </div>
            </div>
        </div>
        <button type="submit" class="send-button" src="assets/icons/send.svg" alt=""></button>
    </div>
</form>