@import './../../../styles/shared';

.write-message-section {
    width: 100%;
    position: relative;
    height: 145px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 10px 15px;

    @media (max-height: 480px) {
        height: 100px;
    }
}

.buttons-container {
    @include dFlex(row, space-between, center, 0);
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-repeat: no-repeat;

    .send-button {
        all: unset;
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('./../../../assets/icons/sendmessage.svg');
        margin-right: 35px;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        &:hover {
            background-image: url('./../../../assets/icons/send-hover.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.buttons-left-container {
    @include dFlex(row, center, center, 5px);

    .buttons-left {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        @include dFlex(row, center, center, );

        &:hover {
            background-color: #ECEEFE;
        }
    }
}

.smiley {
    width: 24px;
    height: 24px;
    background-image: url('./../../../assets/icons/smiley-button.svg');
    background-size: contain;
    background-position: center;

    &:hover {
        background-image: url('./../../../assets/icons/smiley-hover.svg');
        background-size: contain;

    }
}

.at {
    width: 24px;
    height: 24px;
    background-image: url('./../../../assets/icons/at-button.svg');
    background-size: contain;
    background-position: center;
    position: relative;

    &:hover {
        background-image: url('./../../../assets/icons/at-button-hover.svg');
        background-size: contain;
    }
}

.add-emoji-container {
    position: relative;
}

.emoji-picker-container {
    position: absolute;
    left: 2Px;
    bottom: 24px;

    &.thread-mode {
        right: 23px;
        bottom: 24px;
    }
}