<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="write-message-section">
    <textarea
        [placeholder]="selectedChannel ? 'Nachricht an ' + selectedChannel.channelName : 'Nachricht an ' + selectedUser?.name"
        formControlName="message" (input)="textError = false" placeholder="Nachricht an" class=""
        type="text">
    </textarea>
    <div class="buttons-container">
        <div class="buttons-left-container">
            <div class="buttons-left">
                <div class="smiley" src="assets/icons/smiley-button.svg" alt=""></div>
            </div>
            <div class="buttons-left">
                <div (click)="toggleChannelsOverlay()" *ngIf="selectedChannel" class="at"></div>
                <div class="list-overlay" *ngIf="showChannels">
                    <app-channels [channels]="channels" [selectedChannelId]="selectedChannel?.channelId ?? null"
                        (channelSelected)="onSelectChannel($event)">
                    </app-channels>
                </div>
                <div (click)="toggleChannelsOverlay()" *ngIf="selectedUser" class="at"></div>
                <div class="list-overlay" *ngIf="showUsers">
                    <app-users [users]="users" [selectedUserId]="selectedUser?.id ?? null"
                        (userSelected)="onSelectUser($event)">
                    </app-users>
                </div>
            </div>
        </div>
        <button type="submit" class="send-button" src="assets/icons/send.svg" alt=""></button>
    </div>
</form>