@import './../../../styles/shared';
@import '@angular/cdk/overlay-prebuilt.css';

.own-message-section {
    width: 100%;
    @include dFlex(row, end, center, 10px);
    padding: 10px 45px;
    position: relative;

    &:hover {
        background-color: #ECEEFE;
    }

    &.thread-mode {
        padding: 0 15px;
    }
}

.own-message-content {
    @include dFlex(row, end, flex-start, 30px);
    width: 100%;

    &.thread-mode {
        padding: 0 15px;
    }
}

.own-message-content-left {
    @include dFlex(column, center, flex-end, 8px);
}

.own-message-content-left-top-row {
    @include dFlex(row, end, center, 20px);

    .timestamp {
        @include fontNunito(14px, 400);
        color: #686868;
    }

    .user-name {
        @include fontNunito(18px, 700);
        color: black;
    }
}

.message-text-container {
    background-color: #797EF3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;

    span {
        @include fontNunito(18px, 400);
        color: white;
    }
}

.answer-emoji-container {
    width: 100%;
    @include dFlex(row, end, center, 10px);
    position: relative;
}

.answer-emoji-container-only-emoji {
    width: 100%;
    @include dFlex(row, end, center, 10px);
}

.add-emoji {
    width: 24px;
    height: 24px;
    background-image: url('./../../../assets/icons/add-reaction.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-image: url('./../../../assets/icons/add-reaction-hover.png');
    }
}

.add-emoji-container {
    position: relative;
}

.emoji-picker-container {
    width: 230px;
    height: 200px;
    overflow-y: auto;
}

.emoji-picker-scroll-container {
    width: 245px;
    height: 215px;
    position: absolute;
    left: 30px;
    bottom: -185px;
    border-radius: 30px;
    border: 1px solid #797EF3;
    background-color: white;
    z-index: 1000;
}

.answer-container {
    @include dFlex(row, center, center, 20px);
    white-space: nowrap;
    flex-shrink: 0;

    .answer-count {
        @include fontNunito(18px, 400);
        cursor: pointer;
        color: #535AF1;

        &:hover {
            @include fontNunito(18px, 700);
        }
    }

    .last-answer {
        @include fontNunito(14px, 400);
        color: #686868;
    }
}

.own-message-content-right {
    @include dFlex(column, center, flex-start, 0px);
    height: 100%;

    img {
        width: 70px;
        height: 70px;
    }
}

.edit-container {
    position: relative;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: white;
    padding: 3px 15px;
    border: 1px solid #797EF3;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    @include dFlex(row, center, flex-start, 5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    .edit-overlay-image {
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE;
        }

        &.thread-mode {
            display: none;
        }
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }

    &.thread-mode {
        left: 10px;
        top: 0px;
        padding: 3px 5px;
        width: 50px;
    }
}

.edit-overlay-icons {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;

    &:hover {
        background-color: #ECEEFE;
    }
}

.smiley {
    background-image: url('./../../../assets/icons/add-reaction.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('./../../../assets/icons/add-reaction-hover.png');
    }
}

.message {
    background-image: url('./../../../assets/img/comment.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('./../../../assets/img/comment-hover.png');
    }

    &.thread-mode {
        display: none;
    }
}

.thread-image {
    &.thread-mode {
        display: none;
    }
}

.points {
    background-image: url('./../../../assets/img/thre-points-vertical.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: url('./../../../assets/img/thee-points-vertical-hover.png');
    }

    &.thread-mode {
        display: none;
    }
}

.edit-message {
    position: absolute;
    top: 30px;
    left: 250px;
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #797EF3;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    @include dFlex(row, center, flex-start, 5px);
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 100;

    span {
        @include fontNunito(18px, 400);
        padding: 3px 8px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE;
        }
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }

    &.thread-mode {
        display: none;
    }
}

.edit-message-form-container {
    @include dFlex(column, center, flex-start, 5px);
    background-color: white;
    border: 1px solid #ADB0D9;
    min-width: 85%;
    border-radius: 20px;
    padding: 10px 15px;

    .edit-message-input {
        @include fontNunito(18px, 400);
        color: #686868;
        padding-bottom: 10px;
        width: 100%;
        outline: 0;
        border: none
    }
}

.buttons-container {
    @include dFlex(row, space-between, center, 5px);
    width: 100%;
}

.edit-message-buttons-left {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    @include dFlex(row, center, center, );

    &:hover {
        background-color: #ECEEFE;
    }
}

.login-button-container {
    @include dFlex(row, center, center, 30px);

    .login-button {
        @include fontNunito(18px, 700);
        padding: 10px 15px;
        border-radius: 25px;
    }

    .button-log-in {
        background-color: #444DF2;
        border: none;
        color: white;
        border: 1px solid #444DF2;
        cursor: pointer;

        &:hover {
            background-color: #797EF3;
            border: 1px solid #797EF3;
        }
    }

    .button-guest {
        background-color: transparent;
        border: 1px solid #444DF2;
        color: #444DF2;
        cursor: pointer;

        &:hover {
            background-color: #444DF2;
            color: white;
        }
    }
}

.reactions-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
    position: relative;
}

.reaction {
    @include dFlex(row, center, center, 5px);
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 3px 8px;
    position: relative;
    cursor: pointer;

    .reaction-count {
        @include fontNunito(16px, 700);
        color: black;
        @include dFlex(row, center, center, 0px);
        line-height: 1;
    }

    .reaction-emoji {
        @include dFlex(row, center, center, 0px);
        line-height: 1;
    }
}

.reaction-info {
    @include dFlex(column, center, center, 5px);
    padding: 15px 10px;
    background-color: #444DF2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    flex-wrap: nowrap;
    white-space: nowrap;
    z-index: 100;
}

.reaction-info-name-container {
    @include dFlex(column, center, center, 3px);

    .reaction-info-name {
        @include fontNunito(18px, 700);
        flex-wrap: nowrap;
        color: white
    }
}

.reaction-info-text {
    @include fontNunito(16px, 400);
    flex-wrap: nowrap;
    color: white
}

.more-emojis {
    @include fontNunito(16px, 400);
}

@media (max-width: 1150px) {
    .answer-container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .answer-emoji-container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .answer-container {
        flex-direction: row;
        gap: 10px;
    }
}