<section class="own-message-section">
    <div class="own-message-content">
        <div class="own-message-content-left">
            <div class="own-message-content-left-top-row">
                <span class="timestamp">{{message.timeStamp | date: 'HH:mm'}}</span>
                <span class="user-name">{{sharedUser.actualUser?.name}}</span>
            </div>
            <div class="message-text-container">
                <span class="message-text">{{message.text}}</span>
            </div>
        </div>
        <div class="own-message-content-right">
            <img src="{{sharedUser.actualUser.picture}}" alt="">
        </div>

    </div>

</section>
