@import './../../../styles/shared';

.dialog-members {
    position: fixed;
    border-top-right-radius: 0;
    width: 415px;
    z-index: 400;

    @media(max-width: 1000px) {
        width: 300px;
    }
}

.show-members-content {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 15px);

    app-users {
        padding-top: 20px;
    }

    .add-member-transfer {
        padding: 12px 29px;
        @include dFlex($jc: flex-start, $g: 15px);
        border-radius: 100px;

        >svg {
            height: 32px;
            aspect-ratio: 1 / 1;
        }

        >.title {
            @include fontNunito($size: 18px, $weight: 400);
        }

        &:hover {
            cursor: pointer;
            background: $background-purple;
        }
    }
}

h2 {
    @media (max-width: 1000px) {
        @include fontNunito($size: 20px, $weight: 700);
    }
}

.h2-responsive {
    @include fontNunito($size: 24px, $weight: 700);
}