@import './../../../styles/shared';

.outside-overlay {
    z-index: 800;

    &.bottom-drawer {
        @media(min-width: 1000px) {
            display: none;
        }
    }
}

.dialog-add-members {
    position: fixed;
    border-top-right-radius: 0;
    width: 514px;
    z-index: 999;

    @media(max-width: 1000px) {
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.bottom-drawer {
    display: none;

    @media (max-width: 1000px) {
        display: flex;
        position: fixed;
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: auto !important;
        z-index: 999 !important;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 20px 32px;
        gap: 16px;
    }

    @media (max-width: 400px) {
        padding: 20px;
    }
}

.header {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 5px);
    width: 100%;

    >.subheadline {
        @include dFlex($jc: flex-start, $g: 15px);

        >span {
            @include fontNunito($size: 18px, $weight: 400);
            color: #797EF3;
        }
    }
}