<div class="outside-overlay" (click)="handleDialogCloseAddMember()">
    <form (click)="$event.stopPropagation()" #addMemberAfterwardsForm="ngForm" (ngSubmit)="saveMember()"
        class="dialog-add-channel">
        <div class="add-headline">
            <h2>Personen hinzufügen</h2>
            <app-close-button (close)="handleDialogCloseAddMember()"></app-close-button>
        </div>



        <div class="save-action">
            <app-submit-button [form]="addMemberAfterwardsForm" label="Hinzufügen"></app-submit-button>
        </div>
    </form>
</div>