@import './../../../styles/shared';

.threads {
    width: 400px;
    display: flex;

    @media (max-width: 1000px) {
        width: 100%;
        height: calc(100vh - 80px);
    }
}

.threads-content {
    width: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 104px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    @include dFlex(row, center, center, 0px);
    border-radius: 30px 30px 0 0;

    @media(max-width: 1000px) {
        border-radius: 0;
    }
}

.threads-header {
    @include dFlex(row, space-between, center, 0px);
    width: 100%;
    padding: 0 30px;

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

.threads-header-left {
    @include dFlex(row, center, center, 5px);

    .threads-header-headline {
        @include fontNunito(24px, 700);
        color: black
    }

    .threads-header-channel {
        @include fontNunito(14px, 400);
        color: #797EF3;
    }
}

.threads-main-chat {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.write-message-container {
    padding: 30px 20px;
    margin: 0;
    width: 100%;
}

.write-message-form {
    width: 100%;
}