  @import './../../../styles/shared';

  .imprint-section {
    height: 600px;
    width: 850px;
    background-color: #FFFFFF;
    border-radius: 30px;
    font-family: 'Nunito';
    overflow-y: auto;
    padding: 3% 4%;

    h1 {
      color: #444DF2;
      margin: 20px 0;
    }

    h2 {
      color: #444DF2;
      margin: 20px 0;
    }
  }

  .imprint {
    height: 93%;
    overflow-y: auto;
    margin: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imprint-section::-webkit-scrollbar {
    width: 8px;
    height: 50px;
  }

  .imprint::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }

  @media (max-width: 880px) {
    .imprint-section {
      width: 650px;
    }
  }

  @media (max-width: 680px) {
    .imprint-section {
      width: 450px;
    }
  }

  @media (max-width: 480px) {
    .imprint-section {
      width: 300px;
    }
  }

  @media (max-height: 700px) {
    .imprint-section {
      height: 450px;
    }
  }

  @media (max-height: 400px) {
    .imprint-section {
      height: 200px;
    }
  }