<!-- <app-intro *ngIf="showIntro" (animationDone)="showIntro = false"></app-intro> -->
<div class="app-wrapper">
  @if (sharedUser.userEditOverlay) {<div (click)="sharedUser.showUserEdit()" class="overlay"></div>}
  @if (sharedUser.detailOverlay) {
    <div (click)="sharedUser.userDetailOverlay()" class="overlay-user-detail">
      <app-user-detail></app-user-detail>
    </div>
  }
  @if (sharedUser.firebaseFailure) {
    <div (click)="sharedUser.userDetailOverlay()" class="overlay-user-detail">
      <div class="fail-message-container">
        <span>Da ist etwas schiefgelaufen! Bitte versuche es nochmal.</span>
      </div>
    </div>
  }
    <header>
    <div *ngIf="router.url != '/main-content'" class="logo-container">
      <a routerLink="/"><img class="logo-image" src="assets/img/logo.svg" alt=""></a>
      <img class="logo-name" src="assets/img/logo-name.svg" alt="">
    </div>
    <div *ngIf="router.url === '/login'" class="create-account-container">
      <span class="create-account-text">Neu bei DABubble</span>
      <a class="create-account-link" routerLink="/signup">Konto erstellen</a>
    </div>
  </header>

  <!-- woanders einfügen -->
  <!-- <app-main-content></app-main-content> -->

  <main [ngClass]="router.url === '/main-content' ? 'main-content' : 'center-content'">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div *ngIf="router.url != '/main-content'" class="footer-container">
      <a routerLink="/impressum">Impressum</a>
      <a routerLink="/datenschutz">Datenschutz</a>
    </div>
  </footer>
  @if (this.sharedUser.accountSuccess) {<div class="account-success slide-in" [ngClass]="{
    'slide-out': sharedUser.playSlideOut,
    }">
    <span>Konto erfolgreich erstellt!</span>
  </div>
  }
  @if (this.sharedUser.resetMailSend) {<div class="mail-success slide-in" [ngClass]="{
    'slide-out': sharedUser.playSlideOut,
    }">
    <img src="assets/icons/mail-send-button.svg" alt="">
    <span>E-Mail gesendet</span>
  </div>
  }
  @if (this.sharedUser.passwordChanged) {<div class="account-success slide-in" [ngClass]="{
  'slide-out': sharedUser.playSlideOut,
  }">
    <span>Passwort geändert</span>
  </div>
  }
</div>