@import './../../../styles/shared';

.transmission-confirmation {
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(221, 225, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    @include dFlex();
    padding: 50px;
    transition: transform 0.3s ease-in-out, opacity 0.3 ease-in-out;
    pointer-events: none;

    &.visible {
        transform: translateX(0);
        pointer-events: auto;
    }

    &.hidden {
        transform: translateX(136%);
    }

    >.success-message,
    .error-message {
        width: 80%;
        max-width: 800px;
        padding: 32px 16px;
        text-align: center;
        border: unset;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        @include fontNunito($size: 18px, $weight: 600);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        background: $purple;
    }

    >.success-message {
        color: $white;
    }

    >.error-message {
        color: $red;
    }
}