<div *ngIf="selectedChannel" class="main-blocks main-chat" [class.expanded]="!sideNavOpen">
    <div class="chat-header">
        <div class="selected-item">
            <img class="hashtag" src="assets/icons/hashtag.svg" alt="hashtag">
            <span class="title" *ngIf="selectedChannel">{{ selectedChannel.channelName.slice(1) }}</span>
            <img class="drop-down-channels" src="assets/icons/arrow-down.svg" alt="drop-down for choosing channel">
        </div>
        <div class="members-add">
            <div class="members">
                <!-- <img *ngFor="let member of selectedChannel?.members" src="member.picture" alt="members of channel"> -->
            </div>
            <img class="add-members" (click)="openDialogAddMember()" src="assets/icons/add-member.svg"
                alt="add members to channel">
        </div>
    </div>
    <app-message-board class="main-content"></app-message-board>
    <app-write-message [selectedChannel]="selectedChannel" class="write-message-Container"></app-write-message>
</div>

<div *ngIf="selectedUser" class="main-blocks main-chat" [class.expanded]="!sideNavOpen">
    <div class="chat-header">
        <div class="selected-item-dm">
            <app-user-image-status [user]="selectedUser"></app-user-image-status>
            <span class="title">{{ selectedUser.name }}</span>
        </div>
    </div>
    <div class="time-separator"></div>
    <div class="past-messages"></div>
    <app-message-board class="main-content"></app-message-board>
    <app-write-message [selectedUser]="selectedUser" class="write-message-Container"></app-write-message>
</div>

