@import './../../../styles/shared';

.chat-header {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 32px 45px 20px 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    >.selected-item {
        @include dFlex($jc: flex-start, $g: 10px);
        padding: 6px 10px;
        border-radius: 100px;

        >.hashtag {
            width: 32px;
            height: 33px;
        }

        >.drop-down-channels {
            width: 30px;
            height: 30.19px;
        }

        &:hover {
            background: $background-purple;
        }
    }

    >.selected-item-dm {
        @include dFlex($jc: flex-start, $g: 15px);
        padding: 4px 8px;
        border-radius: 30px;

        &:hover {
            background: $background-purple;
        }
    }
}

.title {
    @include fontNunito($size: 24px, $weight: 700);
}

.add-members {
    &:hover {
        cursor: pointer;
    }
}

.write-message-Container {
    width: 100%;

}