@import './../../../styles/shared';

.main-chat {
    @media (max-width: 1000px) {
        width: 100%;
        height: calc(100vh - 80px);
        @include dFlex($fd: column, $jc: space-between);
        overflow: hidden;
    }
}

.main-blocks {
    @media (max-height: 664px) {
        gap: 0;
    }
}

.chat-header {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 32px 45px 20px 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 30px 30px 0 0;

    @media(max-width: 1000px) {
        padding: 10px 16px;
        border-radius: 0;
    }

    @media(max-height: 664px) {
        padding: 10px 16px;
    }

    >.selected-item {
        @include dFlex($jc: flex-start, $g: 10px);
        padding: 6px 10px;
        border-radius: 100px;
        position: relative;

        @media(max-width: 1000px) {
            padding: 2px 0;
            gap: 5px;
        }

        >.hashtag {
            width: 32px;
            height: 33px;

            @media(max-width: 1000px) {
                height: 27px;
            }
        }

        >.drop-down-edit {
            width: 30px;
            height: 30.19px;
        }

        &:hover {
            cursor: pointer;
            background: $background-purple;
        }

        &:hover svg path {
            fill: $purple-hover;
        }

        &:hover .title {
            color: $purple;
        }
    }

    >.selected-item-dm {
        @include dFlex($jc: flex-start, $g: 15px);
        padding: 4px 8px;
        border-radius: 30px;

        @media(max-width: 1000px) {
            border-radius: 35px;
        }
    }
}

.title {
    @include fontNunito($size: 24px, $weight: 700);

    @media(max-width: 1000px) {
        @include fontNunito($size: 20px, $weight: 700);
    }
}

.members-add {
    @include dFlex($jc: space-between, $g: 10px);

    >.members {
        @include dFlex($jc: flex-end, $g: 10px);
        height: 40px;
        padding: 3px 10px;
        border-radius: 30px;
        position: relative;

        &:hover {
            cursor: pointer;
            background: $background-purple;
        }

        &:hover .more-than-three {
            color: $purple-hover;
        }

        &.active-overlay {
            background: $background-purple;
        }

        &.active-overlay .more-than-three {
            color: $purple-hover;
        }

        >.member-avatar {
            position: absolute;
            top: 0;
            width: 40px;
            aspect-ratio: 1 / 1;
            border-radius: 30px;
            border: 2px solid $white;
        }

        >.more-than-three {
            @include fontNunito($size: 20px, $weight: 600);
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    >.add-members {
        width: 40px;
        height: 40px;

        @media(max-width: 1000px) {
            width: 34px;
            height: 34px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.write-message-container {
    width: 100%;
    padding: 45px 45px 30px 45px;
    position: relative;

    @media(max-width: 1000px) {
        padding: 0 16px 20px 16px;
    }

    @media(max-height: 480px) {
        padding: 0 16px 12px 16px;
    }
}

.main-content {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    display: flex;

    @media(max-width: 1000px) {
        padding: 20px 16px;
    }

    @media(max-height: 480px) {
        padding: 8px 16px;
    }
}