<section class="user-message-section"
    [ngClass]="{'thread-mode': mode === 'thread'}"
    (mouseover)="editOverlay = true"
    (mouseout)="editOverlay = false">

    <div class="user-message-content">
        <div class="user-message-content-left">
            <img src="{{userPicture}}" alt="">
        </div>
        <div class="user-message-content-left">
            <div class="user-message-content-left-top-row">
                <span class="user-name">{{userName}}</span>
                <span class="timestamp">{{message.timeStamp | date: 'HH:mm'}}</span>
                
            </div>
            <div class="message-text-container">
                <span class="message-text">{{message.text}}</span>
            </div>
        </div>
    </div>
    <div [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay" [class.visible]="editOverlay">
        <img [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay-image" im src="assets/img/emoji-hook.png" alt="">
        <img [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay-image" src="assets/img/emoji-clapp.png" alt="">
        <div class="edit-overlay-icons smiley"></div>
        <div [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay-icons message" (click)="answerMessage()"></div>
        
    </div>

</section>
