 @import './../../../styles/shared';

 .user-message-section {
     width: 100%;
     @include dFlex(row, start, center, 10px);
     padding: 10px 45px;
     position: relative;

     &:hover {
         background-color: #ECEEFE;
         .message-text-container {
             background-color: white;
         }
     }

     &.thread-mode {
         padding: 0 15px;
     }

     @media(max-width: 1000px) {
         padding: 10px 16px;
     }
 }

 .user-message-content {
     @include dFlex(row, flex-start, flex-start, 30px);
     width: 100%;

     &.thread-mode {
         width: 100%;
         @include dFlex(row, flex-start, flex-start, 15px);
     }
 }

 .user-message-content-right {
     @include dFlex(column, center, flex-end, 8px);
 }

 .user-message-content-left-top-row {
     @include dFlex(row, end, center, 20px);

     .timestamp {
         @include fontNunito(14px, 400);
         color: #686868;
     }

     .user-name {
         @include fontNunito(18px, 700);
         color: black;
     }
 }

 .message-text-container {
     background-color: #ECEEFE;
     border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;
     padding: 10px 20px;

     span {
         @include fontNunito(18px, 400);
         color: black;
     }
 }

 .user-message-content-left {
     @include dFlex(column, center, flex-start, 0px);
     height: 100%;

     img {
         width: 70px;
         height: 70px;
     }
 }

 .edit-overlay {
     position: absolute;
     top: 0;
     right: 50px;
     background-color: white;
     padding: 3px 15px;
     border: 1px solid #797EF3;
     border-bottom-right-radius: 25px;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     @include dFlex(row, center, flex-start, 5px);
     opacity: 0;
     pointer-events: none;
     transition: opacity 0.2s ease;
     overflow-y: visible;
     z-index: 500;

     .edit-overlay-image {
         width: 30px;
         height: 30px;
         padding: 5px;
         border-radius: 50%;
         cursor: pointer;

         &:hover {
             background-color: #ECEEFE;
         }

         &.thread-mode {
             display: none;
         }
     }

     &.visible {
         opacity: 1;
         pointer-events: auto;
     }

     &.thread-mode {
         right: 10px;
         top: 0px;
         width: 50px;
         padding: 3px 5px;
     }
 }

 .edit-overlay-icons {
     width: 30px;
     height: 30px;
     padding: 5px;
     border-radius: 50%;

     &:hover {
         background-color: #ECEEFE;
     }
 }

 .smiley {
     background-image: url('./../../../assets/img/add_reaction.png');
     background-repeat: no-repeat;
     background-position: center;

     &:hover {
         background-image: url('./../../../assets/img/add_reaction-hover.png');
     }
 }

 .message {
     background-image: url('./../../../assets/img/comment.png');
     background-repeat: no-repeat;
     background-position: center;

     &:hover {
         background-image: url('./../../../assets/img/comment-hover.png');
     }

     &.thread-mode {
         display: none;
     }
 }

 .answer-emoji-container {
     width: 100%;
     @include dFlex(row, space-between, center, 10px);
 }

 .answer-emoji-container-only-emoji {
     width: 100%;
     @include dFlex(row, end, center, 10px);
 }

.add-emoji {
  width: 24px;
  height: 24px;
  background-image: url('./../../../assets/icons/add-reaction.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url('./../../../assets/icons/add-reaction-hover.png');
  }
}

.add-emoji-container {
  position: relative;
}

.emoji-picker-container {    
    width: 230px;
    height:200px;
    overflow-y: auto;   
}

.emoji-picker-scroll-container {
  width: 245px;
  height: 215px;
  position: absolute;
  right: 50px;
  bottom: -185px;
  border-radius: 30px;
  border: 1px solid #797EF3;
  background-color: white;
  z-index: 1000;
}

.answer-container {
    @include dFlex(row, center, center, 20px);
        white-space: nowrap; 
        flex-shrink: 0; 
    .answer-count {
        @include fontNunito(18px, 400);
        cursor: pointer;
        color: #535AF1;
        &:hover{
            @include fontNunito(18px, 700);
        }
    }
    .last-answer {
        @include fontNunito(14px, 400);
        color: #686868;
    }
}

.reactions-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%; 
  position: relative;
  padding: 10px 0;
}

.reaction {
    @include dFlex(row, center, center, 5px);
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 3px 8px;
    position: relative;
    cursor: pointer;
    .reaction-count{
        @include fontNunito(16px, 700);
        color: black;
        @include dFlex(row, center, center, 0px);
          line-height: 1;
    }
    .reaction-emoji {
        @include dFlex(row, center, center, 0px);
          line-height: 1;
    }

}

.reaction-info {
    @include dFlex(column, center, center, 5px);
    padding: 15px 10px;
    background-color: #444DF2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    bottom: 20px;
    right: 50%;
    flex-wrap: nowrap; 
    white-space: nowrap; 
    z-index: 1000;
}

.reaction-info-name-container {
    @include dFlex(column, center, center, 3px);
    .reaction-info-name {
        @include fontNunito(18px, 700);
        flex-wrap: nowrap;
        color: white
    }
}

.reaction-info-text {
    @include fontNunito(16px, 400);
    flex-wrap: nowrap;
    color: white
}

.more-emojis {
    @include fontNunito(16px, 400);
}

@media (max-width: 1150px){
    .answer-container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .answer-emoji-container{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .answer-container {
        flex-direction: row;
        gap: 10px;
    }
}

.d-none {
    display: none;
}

 