<section class="user-message-section">

    <div class="user-message-content">
        <div class="user-message-content-left">
            <img src="{{userPicture}}" alt="">
        </div>
        <div class="user-message-content-left">
            <div class="user-message-content-left-top-row">
                <span class="user-name">{{userName}}</span>
                <span class="timestamp">{{message.timeStamp | date: 'HH:mm'}}</span>
                
            </div>
            <div class="message-text-container">
                <span class="message-text">{{message.text}}</span>
            </div>
        </div>


    </div>

</section>
