<section class="user-message-section"
    [ngClass]="{'thread-mode': mode === 'thread'}"
         (mouseover)="onMouseOver()"
         (mouseout)="editOverlay = false"
         (mouseleave)="emojiOverlay = false">

    <div class="user-message-content">
        <div class="user-message-content-left">
            <img src="{{userPicture}}" alt="">
        </div>
        <div class="user-message-content-left">
            <div class="user-message-content-left-top-row">
                <span class="user-name">{{userName}}</span>
                <span class="timestamp">{{message.timeStamp | date: 'HH:mm'}}</span>
                
            </div>
            <div class="message-text-container">
                <span class="message-text">{{message.text}}</span>
            </div>

             @if (mode !== 'thread') {
            <div 
                [ngClass]="answerDetails.length > 0 ? 'answer-emoji-container' : 'answer-emoji-container-only-emoji'">
                @if (answerDetails.length > 0) {
                <div class="answer-container">
                    @if (answerDetails.length == 1) {
                        <Span (click)="answerMessage()" class="answer-count">{{ answerDetails.length }} Antwort</Span>
                    }@else {
                        <Span (click)="answerMessage()" class="answer-count">{{ answerDetails.length }} Antworten</Span>
                    }
                    
                    <span class="last-answer">Letzte Antwort {{answerDetails[answerDetails.length-1].timeStamp | date: 'HH:mm'}}</span>
                </div>
                }

                <div class="reactions-container">
                    @for (emoji of groupedReactionsEmoji?.slice(0, maxItems); track $index) {
                        <div (click)="sharedMessages.pushEmojiReaction(message, emoji)" class="reaction"
                            (mouseover)="showReactionInformation(emoji)"
                            (mouseleave)="mouseOutReactionInformation()">
                            <span class="reaction-count">{{groupedReactions[emoji].length}}</span>
                            <div class="reaction-emoji">{{emoji}}</div>
                                @if (hoveredEmoji === emoji) {
                                <ng-container 
                                    *ngTemplateOutlet="reactionTooltip; context: { emoji: emoji, users: reactionUserNames }">
                                </ng-container>
                                }  
                        </div>
                    }
                    @if (reactionDetails.length > maxItems) {
                        <div (click)="showMoreEmojis()" class="reaction">
                            <span class="more-emojis">Weitere</span>
                        </div>                            
                    } 
                    @if (maxItemsReached && reactionDetails.length == maxItems) {
                        <div (click)="showLessEmojis()" class="reaction">
                            <span class="more-emojis">Weniger</span>
                        </div>   
                    }
                </div>

            </div>     
            }

            @if (mode === 'thread') {
            <div class="reactions-container">
                @if (answerGroupedReactionsEmoji && answerGroupedReactionsEmoji[message.id] && answerGroupedReactionsEmoji[message.id].length > 0) {
                    @for (emoji of answerGroupedReactionsEmoji[message.id].slice(0, maxThreadsItems); track $index) {
                        <div (click)="sharedMessages.pushAnswerEmojiReaction(message, emoji)" class="reaction"
                            (mouseover)="showAnswerReactionInformation(emoji)"
                            (mouseleave)="mouseOutReactionInformation()">
                        <span class="reaction-count">{{ answerGroupedReactions[message.id][emoji].length || 0 }}</span>
                        <div class="reaction-emoji">{{emoji}}</div>

                            @if (hoveredEmoji === emoji) {
                            <ng-container 
                                *ngTemplateOutlet="reactionTooltip; context: { emoji: emoji, users: reactionUserNames }">
                            </ng-container>
                            }
                        </div>
                    }
                    @if (answerGroupedReactionsEmoji[message.id].length > maxThreadsItems) {
                        <div (click)="showMoreEmojis()" class="reaction">
                            <span class="more-emojis">Weitere</span>
                        </div>                            
                    } 
                    @if (maxItemsReached && answerGroupedReactionsEmoji[message.id].length == maxThreadsItems) {
                        <div (click)="showLessEmojis()" class="reaction">
                            <span class="more-emojis">Weniger</span>
                        </div>   
                    }
                }
            </div>
            }


        </div>
    </div>
    
    <div [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay" [class.visible]="editOverlay">
        <div [ngClass]="{'thread-mode': mode === 'thread'}" (click)="this.sharedMessages.pushEmojiReaction(message, '👍')" class="edit-overlay-image thread-image">👍</div>
        <div [ngClass]="{'thread-mode': mode === 'thread'}" (click)="this.sharedMessages.pushEmojiReaction(message, '❤️')" class="edit-overlay-image thread-image">❤️</div>
        <div class="add-emoji-container">
            <div (click)="openModal()" #smileyButton class="edit-overlay-icons smiley"></div>
        </div>    
        <div [ngClass]="{'thread-mode': mode === 'thread'}" class="edit-overlay-icons message" (click)="answerMessage()"></div>
    </div>
    <ng-template cdkPortal>
        <div class="emoji-picker-scroll-container">
            <div class="emoji-picker-container">
                <app-emoji-picker (emojiSelected)="addEmoji($event)"></app-emoji-picker>
            </div>
        </div>
    </ng-template>

    <ng-template #reactionTooltip let-emoji="emoji" let-users="users">
        <div class="reaction-info">
            <div class="reaction-emoji">{{emoji}}</div>
            @for (user of users; track $index) {
            <div class="reaction-info-name-container">
                <span class="reaction-info-name">{{user}}</span>
            </div>
            }
            <span class="reaction-info-text">hat reagiert</span>
        </div>
    </ng-template>

</section>
