<div class="main-content">
    <div class="section-content">
        <div class="header">
            <app-logo [isMobile]="isMobile" [showMainChatMobile]="showMainChatMobile"
                (backToSideNavClick)="onBackToSideNav()">
            </app-logo>
            <app-searchbar class="header-searchbar"></app-searchbar>
            <app-user-header></app-user-header>
        </div>

        <div class="main-components" [class.workspace-closed]="!(shared.workspaceOpen$ | async)"
            [class.threads-open]="(shared.threadsVisible$ | async)">
            <app-side-nav *ngIf="!isMobile || (isMobile && !showMainChatMobile)" [isMobile]="isMobile"
                (selectChannel)="onChannelSelected($event)" (selectUser)="onUserSelected($event)"
                (addChannel)="openDialogAddChannel()" [showAddChannelDialog]="showAddChannelDialog">
            </app-side-nav>
            <app-main-chat *ngIf="!isMobile || (isMobile && showMainChatMobile)"
                (addMember)="openDialogAddMember($event)" (showUserProfile)="openProfile()"
                (editChannel)="openDialogEditChannel($event)" (members)="openMembers($event)"
                (selectedUserChange)="onSelectedUserChanged($event)" [selectedChannel]="selectedChannel"
                [selectedUser]="selectedUser" [sideNavOpen]="true" [showAddMemberDialog]="showAddMemberDialog"
                [isShowMembersOverlayVisible]="showMembers">
            </app-main-chat>
            <app-threads *ngIf="shared.threadsVisible$ | async"></app-threads>
            <div class="outside-overlay" *ngIf="showProfile" (click)="showProfile = false">
                <app-user-profile [user]="selectedUser!" [allowEdit]="false"></app-user-profile>
            </div>
        </div>

        <app-dialog-add-channel *ngIf="showAddChannelDialog" (close)="closeDialogAddChannel()"
            (save)="createChannel($event)">
        </app-dialog-add-channel>
        <app-dialog-add-channel-member *ngIf="addChannelMember" [validUsers]="users"
            [currentChannelId]="selectedChannel?.channelId" (close)="closeAddChannelMember()"
            (save)="saveAddChannelMember($event)">
        </app-dialog-add-channel-member>
        <app-dialog-edit-channel *ngIf="editChannel" [selectedChannel]="selectedChannel"
            (close)="closeDialogEditChannel()" (saveName)="saveEditChannel($event)"
            (saveDescription)="saveEditChannel($event)" (userLeftChannel)="updateChannelMember($event)"
            [position]="editChannelPosition" [style.top.px]="editChannelPosition.top"
            [style.left.px]="editChannelPosition.left" style="position: fixed; z-index: 999;">
        </app-dialog-edit-channel>
        <app-dialog-show-channel-members *ngIf="showMembers" [users]="users" [selectedUserId]="selectedUser?.id ?? null"
            (close)="closeDialogShowMembers()" (openAddMembers)="openDialogAddMember($event)"
            [position]="showMembersPosition" [style.top.px]="showMembersPosition.top"
            [style.left.px]="showMembersPosition.left" style="position: fixed; z-index: 999;">
        </app-dialog-show-channel-members>
        <app-dialog-add-member *ngIf="showAddMemberDialog" [validUsers]="users" [selectedChannel]="selectedChannel"
            (close)="closeDialogAddMember()" (save)="saveAddMember($event)" [position]="addMemberPosition"
            [style.top.px]="addMemberPosition.top" [style.left.px]="addMemberPosition.left"
            style="position: fixed; z-index: 999;">
        </app-dialog-add-member>
        <app-status-messages *ngIf="statusMessage" [statusMessage]="statusMessage"
            [statusMessageType]="statusMessageType">
        </app-status-messages>
    </div>
</div>