<div class="main-content">
    <div class="section-content">
        <div class="header">
            <app-logo></app-logo>
            <app-searchbar class="header-searchbar"></app-searchbar>
            <app-user-header></app-user-header>
            <!-- <span (click)="shared.logOutUser()" class="logout">logout</span> -->
        </div>
        <div class="main-components">
            <app-side-nav (addChannel)="openDialogAddChannel()"></app-side-nav>
            <app-main-chat></app-main-chat>
            <app-threads *ngIf="threadsVisible"></app-threads>
        </div>
        <app-dialog-add-channel *ngIf="showAddChannelDialog" (close)="handleDialogClose()"
            (save)="handleChannelCreate($event)">
        </app-dialog-add-channel>
        <app-status-messages *ngIf="statusMessage" [statusMessage]="statusMessage"
            [statusMessageType]="statusMessageType">
        </app-status-messages>
    </div>
</div>