@import './../../styles/shared';

.main-content {
    background: $background-purple;
    width: 100%;
    height: 100vh;

    @media(max-width: 1000px) {
        height: auto;
    }

    >.main-section {
        padding: 0 32px 16px 32px;
        max-width: 1920px;
        margin: auto;

        @media(max-width: 1000px) {
            padding: 0;
        }

        @media (max-height: 480px) and (min-height: 1000px) {
            padding: 0;
        }
    }
}

.header {
    height: 86px;
    @include dFlex($jc: space-between, $g: 20px);
    width: 100%;

    .header-searchbar {
        width: 50%;

        @media(max-width: 1000px) {
            display: none;
        }
    }

    @media(max-width: 1000px) {
        height: 80px;
    }

    @media(max-width: 1000px) and (max-height: 1000px) {
        height: 80px;
    }

    @media(max-height: 480px) {
        height: 72px;
    }
}

.logout {
    cursor: pointer;
}

.user-detail-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.main-components {
    @include dFlex($jc: flex-start, $g: 16px);
    width: 100%;

    @media (max-width: 1368px) {
        position: relative;
    }

    @media(max-width: 1000px) {
        gap: 0;
    }

    app-side-nav,
    app-main-chat,
    app-threads {
        transition: width 0.25s ease;
    }

    app-side-nav {
        @media(max-width: 1000px) {
            width: 100%;
        }
    }

    app-main-chat {
        flex-grow: 1;

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    app-threads {
        @media (max-width: 1368px) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
        }

        @media (max-width: 1000px) {
            left: 0;
        }
    }

    &.main-components.workspace-closed {
        gap: 0;

        app-side-nav {
            width: 0;
            overflow-x: hidden;
        }
    }

    .threads-open {
        app-main-chat {
            flex-grow: 0;
            width: calc(100% - 364px - 400px);
        }
    }
}

.main-components.workspace-closed.threads-open {
    app-main-chat {
        width: calc(100% - 400px);
        margin-right: 16px;
    }
}

.main-components.workspace-closed:not(.threads-open) {
    app-main-chat {
        width: 100%;
    }
}

.main-components:not(.workspace-closed):not(.threads-open) {
    app-main-chat {
        flex-grow: 1;
        width: auto;

        @media(max-width: 1000px) {
            flex-grow: unset;
            width: 100%;
        }
    }
}

.overlay-index {
    z-index: 7000;
}