@import './../../styles/shared';

.main-content {
    background: $background-purple;
    width: 100%;
    height: 100vh;
    padding: 16px;
}

.header {
    height: 86px;
    @include dFlex($jc: space-between, $g: 20px);
    padding-bottom: 16px;
    width: 100%;

}

.main-components {
    @include dFlex($jc: flex-start, $g: 16px);
    width: 100%;
}

.logout {
    cursor: pointer;
}