@import './../../../styles/shared';

.original-message {
    width: 100%;
}

.thread-border {
    @include dFlex(row, center, center, 20px);
    margin: 20px 15px;

    .thread-border-text {
        @include fontNunito(18px, 400);
        color: #ADB0D9;
        display: inline-block;
        white-space: nowrap;
    }

    .thread-border-line {
        height: 1px;
        width: 100%;
        background-color: #ADB0D9;
    }
}

.messages-container {
    padding-bottom: 15px;
}