@import './../../../styles/shared';

.devspace-section {
    width: 100%;
    position: absolute;
    z-index: 999;

    @media(max-width: 1000px) {
        top: 0;
        left: 0;
        right: 0;
    }
}

.input-container {
    @include dFlex($fd: column, $ai: flex-start, $g: 20px);
    width: 100%;
    padding: 32px 45px 20px 45px;

    @media(max-width: 1000px) {
        padding: 10px 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }

    @media(max-height: 480px) and (max-width: 1000px) {
        gap: 8px;
        box-shadow: unset;
    }

    @media(max-height: 480px) and (min-width: 1000px) {
        padding: 0;
        width: calc(100% - 32px);
    }

    p {
        @include fontNunito($size: 24px, $weight: 700);

        @media(max-height: 480px) {
            @include fontNunito($size: 20px, $weight: 600);
        }
    }
}

.input-field-container {
    position: relative;
    width: 100%;
    @include dFlex();

    .input-field {
        width: 100%;
        height: 62px;
        border: 1px solid $light-purple;
        border-radius: 30px;
        background-color: $white;
        @include fontNunito($size: 18px, $weight: 400);
        color: $grey;

        @media (max-width: 1000px) {
            @include fontNunito($size: 17px, $weight: 400);
        }

        @media (max-width: 480px) {
            height: 48px;
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (max-height: 480px) {
            height: 48px;
            padding-top: 12px;
            padding-bottom: 0;
        }
    }
}

.editable-input {
    pointer-events: auto;
    padding: 15px 28px;

    &:empty:before {
        position: absolute;
        top: 15px;
        left: 28px;
        pointer-events: none;
    }

    @media (max-height: 480px) {
        padding-top: 12px;
        padding-bottom: 0;

        &:empty:before {
            top: 12px;
        }
    }

    @media (max-width: 424px) {
        &:empty:before {
            top: 0;
        }
    }
}