@import './../../../styles/shared';

.dialog-edit-channel {
    position: fixed;
    border-top-left-radius: 0;
    width: clamp(300px, 60%, 1000px);
    height: auto;
    margin-right: 32px;
    padding: 0;
    gap: 0;
    z-index: 400;
    overflow-y: auto;
    overflow-x: hidden;

    @media(max-width: 1386px) {
        width: 500px;
    }

    @media(max-width: 1000px) {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 25px;
        box-shadow: none;
        max-height: 100vh;
    }

    >.edit-add-headline {
        padding: 40px 40px 24px 40px;

        @media(max-width: 1000px) {
            padding: 40px 16px 10px 16px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        }
    }

    >.edit-content {
        @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
        width: 100%;
        padding: 0 40px 40px 40px;

        @media(max-width: 1000px) {
            padding: 20px 16px;
            gap: 25px;
            overflow-y: auto;
            flex: 1 1 auto;
        }
    }
}

.headline-channel-name {
    @include dFlex($jc: flex-start, $g: 15px);
    border-radius: 30px;
    padding: 2px 1px;

    @media(max-width: 1000px) {
        gap: 5px;
    }

    >.hashtag {
        width: 30px;
        aspect-ratio: 1 / 1;

        @media(max-width: 1000px) {
            width: 25px;
        }
    }

    >.channel-title {
        @include fontNunito($size: 24px, $weight: 700);

        @media(max-width: 1000px) {
            @include fontNunito($size: 20px, $weight: 700);
        }
    }
}

.edit-object {
    border-radius: 20px;
    border: 1px solid $light-purple;
    padding: 20px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
    width: 100%;
}

.edit-object-mobile {
    display: none;

    @media(max-width: 1000px) {
        display: flex;
        padding: 20px 16px;
    }
}

.edit-object-content {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);
    width: 100%;
}

.edit-object-header {
    @include dFlex($jc: space-between);
    width: 100%;
}

.edit-object-description {
    gap: 10px;

    >img {
        width: 24px;
    }

    >.content-text {
        @include fontNunito($size: 18px, $weight: 400);
    }
}

.header-text {
    @include fontNunito($size: 18px, $weight: 700);
}

.edit-btn {
    @include fontNunito($size: 18px, $weight: 600);
    color: $purple-hover;

    @media(max-width: 1000px) {
        display: none;
    }
}

.edit-btn-mobile {
    display: none;

    @media(max-width: 1000px) {
        display: block;

        &:hover {
            cursor: pointer;
        }
    }
}

.description-creator {
    gap: 30px;
}

.creator {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);

    >.channel-creator-name {
        @include fontNunito($size: 24px, $weight: 400);
        color: $purple-hover;

        @media(max-width: 1000px) {
            @include fontNunito($size: 20px, $weight: 400);
        }
    }
}

.separator {
    width: 100%;
    height: 0;
    border: 1px solid $light-purple;
}

.leave-btn {
    background: $purple;
    color: $white;
    @include fontNunito($size: 18px, $weight: 700);
}

:host-context(.mobile-add-member) {
    position: fixed;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: unset;
    z-index: 800;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}