<div class="outside-overlay" (click)="closeEditChannel()">
    <div (click)="$event.stopPropagation()" class="dialog-add-channel dialog-edit-channel" [style.top.px]="position.top"
        [style.left.px]="position.left">
        <div class="add-headline">
            <div class="headline-channel-name">
                <img class="hashtag" src="assets/icons/hashtag.svg" alt="hashtag">
                <span class="channel-title" *ngIf="selectedChannel">{{ selectedChannel.channelName.slice(1) }}</span>
            </div>
            <app-close-button (close)="closeEditChannel()"></app-close-button>
        </div>

        @if (!isEditingName) {
        <div class="edit-object">
            <div class="edit-object-header">
                <span class="header-text">Channel-Name</span>
                <button class="edit-btn" type="button" (click)="isEditingName = true">Bearbeiten</button>
            </div>
            <div class="headline-channel-name edit-object-content">
                <img src="assets/icons/hashtag.svg" alt="channel prefix #">
                <span class="content-text" *ngIf="selectedChannel">{{ selectedChannel.channelName.slice(1) }}</span>
            </div>
        </div>
        }

        @if(isEditingName) {
        <app-channel-name [control]="channelNameControl" [channelExistsError]="channelExistsError"
            [allowEditName]="true" (saveName)="saveEditName()" class="components-width">
        </app-channel-name>
        }

        @if(!isEditingDescription) {
        <div class="edit-object description-creator">
            <div class="edit-object-header">
                <span class="header-text">Beschreibung</span>
                <button class="edit-btn" type="button" (click)="isEditingDescription = true">Bearbeiten</button>
            </div>
            <div class="edit-object-content">
                <p class="content-text" *ngIf="selectedChannel">{{ selectedChannel.channelDescription }}</p>
            </div>
            <div class="separator"></div>
            <div class="creator">
                <span class="header-text">Erstellt von</span>
                <span class="channel-creator-name" *ngIf="selectedChannel">{{ creatorName }}</span>
            </div>
        </div>
        }

        @if(isEditingDescription) {
        <app-channel-description [control]="channelDescriptionControl" [allowEditDescription]="true"
            (save)="saveEditDescription()" class="components-width">
        </app-channel-description>
        <div class="separator"></div>
        <div class="creator">
            <span class="header-text">Erstellt von</span>
            <span class="channel-creator-name" *ngIf="selectedChannel">{{ creatorName }}</span>
        </div>
        }

        <div class="save-action">
            <button class="leave-btn" type="button" class="submit-button" (click)="leaveChannel()">
                Channel verlassen
            </button>
        </div>
    </div>
</div>