<section class="user-header-section">
    <span>{{shared.actualUser.name}}</span>
    <img class="user-header-img" src="{{shared.actualUser.picture}}" alt="">
     
    <div class="edit-user">
        <img (click)="sharedHeader.showUserEdit()" class="user-header-icon" src="assets/icons/arrow-down.svg" alt="">
        @if (sharedHeader.userEditOverlay) {
        <div class="edit-user-overlay">
            @if (!sharedHeader.dropdownProfile) {<app-dropdown></app-dropdown>}
            @if (sharedHeader.dropdownProfile) {<app-user-profile></app-user-profile>}
        </div>
        }
    </div>
    

</section>
