<div [ngClass]="{ 'closed': !workspaceOpen }" class="main-blocks side-nav">
    <div class="channels-btn">
        <div class="workspace">
            <img class="workspace-logo" src="assets/icons/workspace.svg" alt="workspace logo">
            <span class="workspace-title">Devspace</span>
        </div>
        <img src="assets/icons/edit-workspace-square.svg" alt="edit workspace">
    </div>
    <div class="menu">
        <div class="menu">
            <div class="menu-category">
                <div class="category-headline">
                    <div class="menu-item">
                        <img *ngIf="showChannels" (click)="toggleDropDownChannels()" class="general-menu-icons"
                            src="assets/icons/drop-down.svg" alt="drop-down open">
                        <img *ngIf="!showChannels" (click)="toggleDropDownChannels()" class="general-menu-icons"
                            src="assets/icons/drop-down-close.svg" alt="drop-down close">
                        <img class="menu-img" src="assets/icons/channels.svg" alt="channels">
                        <p class="menu-title">Channels</p>
                    </div>
                </div>
                <img class="general-menu-icons" src="assets/icons/add.svg" alt="add channel"
                    (click)="openDialogAddChannel()">
            </div>

            <div *ngIf="showChannels">
                <app-channels [channels]="channels" [selectedChannelId]="selectedChannelId"
                    (channelSelected)="onSelectChannel($event)"></app-channels>
                <button class="menu-item menu-item-add" (click)="openDialogAddChannel()">
                    <img class="menu-img" src="assets/icons/add-channel.svg" alt="add channel">
                    <span class="channel-menu-subtitle">Channel hinzufügen</span>
                </button>
            </div>
        </div>

        <div class="menu">
            <div class="menu-category">
                <div class="category-headline">
                    <div class="menu-item">
                        <img *ngIf="showUsers" (click)="toggleDropDownUsers()" class="general-menu-icons"
                            src="assets/icons/drop-down.svg" alt="drop-down open">
                        <img *ngIf="!showUsers" (click)="toggleDropDownUsers()" class="general-menu-icons"
                            src="assets/icons/drop-down-close.svg" alt="drop-down close">
                        <img class="menu-img" src="assets/icons/dm.svg" alt="direct messages">
                        <p class="menu-title">Direktnachrichten</p>
                    </div>
                </div>
            </div>
            <div *ngIf="showUsers">
                <app-users [users]="users" [selectedUserId]="selectedUserId"
                    (userSelected)="onSelectUser($event)"></app-users>
            </div>
        </div>
    </div>
</div>

<div *ngIf="userService.workspaceOpen$ | async" (click)="toggleWorkspace()" class="toggle-workspace">
    <span>Workspace-Menu schließen</span>
    <img src="assets/icons/hide-workspace.svg" alt="close workspace">
</div>
<div *ngIf="!(userService.workspaceOpen$ | async)" (click)="toggleWorkspace()" class="toggle-workspace">
    <span>Workspace-Menu öffnen</span>
    <img src="assets/icons/open-workspace.svg" alt="open workspace">
</div>