@import './../../../styles/shared';

.side-nav {
    padding: 32px 30px;
    width: 364px;
    position: relative;
    overflow-x: hidden;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
    transform: translateX(0);

    @media (max-width: 1000px) {
        padding: 12px 16px 20px 16px;
        width: 100%;
        height: auto;
    }

    &.closed {
        transform: translateX(-110%);
    }

    >.channels-btn {
        @include dFlex($jc: space-between);
        border-radius: 30px;
        width: 100%;

        @media(max-width: 1000px) {
            display: none;
        }

        >.workspace {
            @include dFlex($jc: flex-start, $g: 15px);

            >.workspace-logo {
                width: 60px;
                aspect-ratio: 1 / 1;
            }

            >.workspace-title {
                @include fontNunito($size: 24px, $weight: 700);
            }
        }

        >svg {
            height: 40px;
            aspect-ratio: 1 / 1;
        }
    }

    >.searchbar {
        display: none;

        @media (max-width: 1000px) {
            display: flex;
            width: 100%;
            padding: 8px 4px 8px 24px;
            border-radius: 42px;
            border: 1px solid $light-purple;
        }
    }

    >.menu {
        @include dFlex($fd: column, $ai: flex-start, $g: 8px);
        overflow: hidden;

        @media(max-width: 1000px) {
            width: 100%;
        }

        >.menu-part {
            @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
            width: 100%;
            min-height: 94px;
            overflow: hidden;

            @media(max-width: 1000px) {
                width: 100%;
            }
        }
    }
}

.menu-category {
    @include dFlex($jc: space-between, $g: 15px);
    padding: 3px 0;
    width: 100%;

    @media(max-width: 1000px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media(max-width: 424px) {
        padding: 0;
    }

    >.category-headline {
        @include dFlex($jc: flex-start, $g: 15px);
        padding: 5px 10px 5px 0;
    }
}

.menu-item {
    @include dFlex($jc: flex-start, $g: 15px);
    padding: 4px 10px 4px 0;
    flex: 1;

    >.menu-img {
        width: 24px;
        aspect-ratio: 1 / 1;
    }

    >.menu-title {
        @include fontNunito($size: 20px, $weight: 700);
    }

    >.channel-menu-subtitle {
        @include fontNunito($size: 18px, $weight: 400);
        white-space: normal;
        text-align: left;

        @media (max-width: 1000px) {
            @include fontNunito($size: 17px, $weight: 400);
        }
    }
}

.menu-item-add {
    padding: 12px 0 12px 45px;

    @media (max-width: 1000px) {
        padding-left: 65px;
        padding-top: 8px;
    }

    @media (max-width: 424px) {
        padding-left: 45px;
    }

    &:hover {
        >svg g path {
            fill: $purple-hover;
        }

        >span {
            color: $purple-hover;
        }
    }

    &.btn-active {
        >svg g path {
            fill: $purple-hover;
        }
    }
}

.scrollable-list {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 41px;
    max-height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

app-channels,
app-users {
    @media (max-width: 1000px) {
        @include dFlex();
        transform: translateX(20px);
    }

    @media (max-width: 424px) {
        transform: translateX(0);
    }
}

.general-menu-icons {
    width: 30px;
    aspect-ratio: 1 / 1;
}

.workspace-message {
    display: none;

    @media (max-width: 1000px) {
        @include dFlex();
        position: fixed;
        bottom: 16px;
        right: 16px;
        width: 60px;
        height: 60px;
        z-index: 300;
        border-radius: 100px;
        background: $purple;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        padding: 7px 10px 13px 10px;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.svg-style {
    &.active {
        >g path {
            fill: black;
        }
    }
}

.toggle-workspace {
    z-index: 99;
    position: absolute;
    left: 32px;
    top: 80vh;
    transform: translateX(-4px) rotate(-90deg);
    transform-origin: left center;
    width: 336px;
    @include dFlex($g: 8px);
    filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.2));
    padding: 12px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: $white;

    @media (max-width: 1368px) {
        left: 0;
    }

    @media (max-width: 1000px) {
        display: none;
    }

    @media (max-height: 720px) {
        width: auto;
        top: 50%;
    }

    >span {
        @include fontNunito($size: 20px, $weight: 500);
        line-height: 120%;

        @media (max-height: 720px) {
            display: none;
        }
    }

    >svg {
        height: 32px;
        aspect-ratio: 1 / 1;
        transform: rotate(90deg);
    }

    &:hover {
        cursor: pointer;

        >span {
            color: $purple-hover;
            @include fontNunito($size: 20px, $weight: 700);
        }

        >svg rect,
        svg path,
        svg path {
            stroke: $purple-hover;
            stroke-width: 2.4px;
        }
    }
}