@import './../../../styles/shared';

.input-wrapper {
    position: relative;
    width: 434px;

    >.input-wrapper-content {
        background: $white;
        color: $grey;
        padding: 15px 20px;
        border: 1px solid $light-purple;
        border-radius: 30px;
        @include dFlex($jc: flex-start, $g: 8px);
        flex-wrap: wrap;

        &:focus-within {
            border-color: $purple;
        }
    }
}

.selected-user {
    @include dFlex($jc: flex-start, $g: 15px);
    border-radius: 35px;
    padding: 3px 20px;
    background: $background-purple;

    >img {
        width: 34px;
        aspect-ratio: 1 / 1;
        border-radius: 30px;
        object-fit: cover;
    }

    >.name-x {
        @include dFlex($jc: flex-start, $g: 5px);

        >.name {
            @include fontNunito($size: 18px, $weight: 400);
        }

        >.x {
            width: 30px;
            aspect-ratio: 1 / 1;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.suggestions {
    position: absolute;
    top: 40px;
    left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid $light-purple;
    padding: 20px 21px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 15px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    width: 335px;
    z-index: 99;
    background: $white;
    max-height: 250px;
    overflow-y: auto;
}