@import './../../../styles/shared';

.input-wrapper {
    position: relative;
    width: 434px;

    >.input-wrapper-content {
        position: relative;
        background: $white;
        color: $grey;
        padding: 15px 20px;
        border: 1px solid $light-purple;
        border-radius: 30px;
        @include dFlex($jc: flex-start, $g: 8px);
        flex-wrap: wrap;
        width: 100%;

        @media (max-width: 1000px) {
            width: 260px;
        }

        &:focus-within {
            border-color: $purple;
        }

        >.suggestions {
            position: absolute;
            top: calc(100% - 12px);
            left: 20px;
            border-radius: 0 20px 20px 20px;
            border: 1px solid $light-purple;
            padding: 20px 21px 20px 0;
            @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 15px);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
            z-index: 9999;
            background: $white;
            max-height: 250px;
            overflow-y: auto;

            @media (max-width: 1000px) {
                left: unset;
                right: 0;
                border-top-left-radius: 20px;
                padding: 8px 0 0 0;
            }

            @media (max-height: 600px) {
                top: -100px;
                border-top-left-radius: 20px;
            }
        }
    }
}

.selected-user {
    @include dFlex($jc: flex-start, $g: 15px);
    border-radius: 35px;
    padding: 3px 20px;
    background: $background-purple;

    >img {
        width: 34px;
        aspect-ratio: 1 / 1;
        border-radius: 30px;
        object-fit: cover;
    }

    >.name-x {
        @include dFlex($jc: flex-start, $g: 5px);

        >.name {
            @include fontNunito($size: 18px, $weight: 400);
        }

        >.x {
            width: 30px;
            aspect-ratio: 1 / 1;
        }
    }
}

#userInput {
    flex: 1 0 150px;
    min-width: 120px;
    padding: 5px 0;
    margin-left: 8px;
}