@import './styles/shared';
@import '@ctrl/ngx-emoji-mart/picker';
@import '@angular/cdk/overlay-prebuilt.css';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #000000;
}

.section-content {
    max-width: 1920px;
    width: 100%;
    @include dFlex($fd: column, $jc: flex-start, $ai: center);
    position: relative;
}

a {
    text-decoration: none;
}

button {
    border: unset;
    border-radius: 25px;
    background: none;
    transition: all 0.3s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $background-purple;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background: $purple;
        cursor: pointer;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $purple-hover;
    }
}

.outside-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;
    @include dFlex($fd: column);
}

input {
    border: unset;
    outline: none;
}

.input-container {
    @include dFlex($fd: column, $g: 30px);
    width: 100%;
    padding: 30px 20px;

    .input-field-container {
        position: relative;
        width: 100%;

        >.input-field-image {
            position: absolute;
        }
    }
}

.input-field {
    width: 100%;
    border-radius: 30px;
    border: unset;
    outline: none;
    background: $background-purple;
    padding: 0 15px 0 60px;
    @include fontNunito(16px, 500);
    color: $grey;
}

.user-image-container {
    position: relative;
}

.online-status {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    border: 2px solid transparent;

    @media (max-width: 1000px) and (max-height: 1000px) {
        width: 14px;
        height: 14px;
    }

    @media (max-width: 424px) and (max-height: 480px) {
        width: 10px;
        height: 10px;
    }
}

.online {
    background-color: $green;
}

.active {
    @include fontNunito(20px, 400);
    color: $green;
}

.offline {
    background-color: $grey;
}

.inactive {
    @include fontNunito(20px, 400);
    color: $grey;
}

.main-blocks {
    background: $white;
    height: calc(100vh - 86px - 16px);
    border-radius: 30px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);
    position: relative;
    z-index: 10;

    @media(max-width: 1368px) {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    @media(max-width: 1000px) {
        height: calc(100vh - 80px);
        border-radius: 0;
        box-shadow: unset;
    }
}

.list {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 8px 8px 25px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 15px);
    z-index: 9000;

    @media (max-width: 1000px) {
        max-height: unset;
    }

    @media (max-height: 664px) {
        gap: 8px;
    }

    .list-entry {
        padding: 4px 20px;
        margin-right: 20px;
        @include dFlex($jc: flex-start, $ai: center, $g: 10px);

        @media (max-width: 1000px) {
            gap: 13px;
        }

        >.list-name {
            @include fontNunito($size: 18px, $weight: 400);
            white-space: nowrap;
            text-align: left;

            @media (max-width: 1000px) {
                @include fontNunito($size: 17px, $weight: 400);
            }

            @media (max-width: 424px) {
                white-space: normal;
            }
        }

        &:hover {
            cursor: pointer;
            background: $background-purple;

            >svg {
                transform: scale(1.25);
            }

            >svg path {
                fill: $purple-hover;
            }
        }

        &.active {
            background-color: $background-purple;

            >.list-name {
                color: $purple-hover;
                @include fontNunito($size: 18px, $weight: 700);
            }

            >svg {
                height: 24px;
                width: 24px;
            }

            >svg path {
                fill: $purple-hover;
            }
        }
    }
}

.menu-item {
    @include dFlex($jc: flex-start, $g: 15px);
    padding: 4px 10px 4px 0;
    flex: 1;
}

.svg-style {
    border-radius: 20px;

    &:hover {
        cursor: pointer;
        background: $background-purple;

        >g path {
            fill: $purple-hover;
        }
    }

    &.active {
        background: $background-purple;

        >g path {
            fill: $purple-hover;
        }
    }
}

.svg-title-style {
    &:hover {
        cursor: pointer;
    }

    &:hover svg {
        transform: scale(1.05);
    }

    &:hover svg g path {
        fill: $purple-hover;
    }

    &:hover .title {
        color: $purple;
    }
}

.save-action {
    @include dFlex($jc: flex-end, $g: 10px);
    width: 100%;
}

.submit-button {
    @include fontNunito($size: 18px, $weight: 700);
    color: $white;
    border-radius: 25px;
    padding: 12px 25px;
    background: $purple;

    &:hover {
        cursor: pointer;
    }
}

.button-abled,
.button-disabled {
    border-radius: 25px;
}

.button-abled {
    background: $purple;

    &:hover {
        cursor: pointer;
    }
}

.button-disabled {
    background: $grey;

    &:hover {
        cursor: default;
    }
}

.mention {
    display: inline-block;
    background: $purple;
    color: $white;
    padding: 2px 6px;
    border-radius: 30px;
    cursor: default;
    margin-right: 6px;
}

.editable-input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    resize: none;
    @include fontNunito(18px, 400);
    color: $grey;
    position: relative;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;

    &:empty:before {
        content: attr(placeholder);
        color: #A9A9A9;
    }
}

.list-overlay {
    position: absolute;
    z-index: 9000;
    background: $white;
    border-radius: 20px 20px 20px 0;
    border: 1px solid $light-purple;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding: 20px 21px 20px 0;

    &[hidden] {
        display: none !important;
    }

    &.in-write-message {
        bottom: 134px;
        left: 15px;

        @media(max-height: 480px) {
            bottom: 92px;
        }
    }

    &.in-search-bar {
        top: 32px;
        left: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;

        @media(max-width: 1000px) {
            top: 40px;
            left: 0;
        }
    }

    &.in-devspace {
        top: 48px;
        left: 28px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;

        @media(max-height: 480px) {
            top: 38px;
        }
    }
}

.content-restriction {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    @include dFlex();
    z-index: 8000;
    position: relative;
}