@import './styles/shared';
@import '@ctrl/ngx-emoji-mart/picker';
@import '@angular/cdk/overlay-prebuilt.css';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #000000;
}

.section-content {
    max-width: 1920px;
    width: 100%;
    @include dFlex($fd: column, $jc: flex-start, $ai: stretch);
    position: relative;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}

button {
    border: unset;
    border-radius: 25px;
    padding: 12px 25px;
    background: none;
    transition: all 0.3s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.outside-overlay {
    position: absolute;
    top: -16px;
    left: -32px;
    bottom: -16px;
    right: 32px;
    height: 100vh;
    width: calc(100% + 64px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 550;
    @include dFlex($fd: column);
}

input {
    border: unset;
    outline: none;
}

// Kommt später vielleicht in eigene Komponente, von Benjamin übernommen
.input-container {
    @include dFlex($fd: column, $g: 30px);
    width: 100%;
    padding: 30px 20px;

    .input-field-container {
        position: relative;
        width: 100%;

        >.input-field-image {
            position: absolute;
        }
    }
}

.input-field {
    width: 100%;
    border-radius: 30px;
    border: unset;
    outline: none;
    background: $background-purple;
    padding: 0 15px 0 60px;
    @include fontNunito(16px, 500);
    color: $grey;
}

.user-image-container {
    position: relative;
}

.online-status {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    border: 2px solid transparent;
}

.online {
    background-color: $green;
}

.offline {
    background-color: $red;
}

.main-blocks {
    background: $white;
    height: calc(100vh - 115px - 16px);
    border-radius: 30px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}

.list {
    padding-left: 25px;
    padding-bottom: 8px;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 15px);
    max-height: 30vh;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $background-purple;
    }

    &::-webkit-scrollbar-thumb {
        background: $purple;
        cursor: pointer;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $purple-hover;
    }

    .list-entry {
        padding: 4px 20px;
        @include dFlex($jc: flex-start, $ai: center, $g: 10px);

        >.list-name {
            @include fontNunito($size: 18px, $weight: 400);
        }

        &:hover {
            cursor: pointer;
            background: $background-purple;

            >svg {
                height: 30px;
                width: 30px;
            }

            >svg path {
                fill: $purple-hover;
            }
        }

        &.active {
            background-color: $background-purple;

            >.list-name {
                color: $purple-hover;
                @include fontNunito($size: 18px, $weight: 700);
            }

            >svg {
                height: 24px;
                width: 24px;
            }

            >svg path {
                fill: $purple-hover;
            }
        }
    }
}

.menu-item {
    @include dFlex($jc: flex-start, $g: 15px);
    padding: 4px 10px 4px 0;
    flex: 1;
}

.svg-style {
    border-radius: 20px;

    &:hover {
        cursor: pointer;
        background: $background-purple;

        >g path {
            fill: $purple-hover;
        }
    }

    &.active {
        background: $background-purple;

        >g path {
            fill: $purple-hover;
        }
    }
}

.svg-title-style {
    &:hover {
        cursor: pointer;
    }

    &:hover svg g path {
        fill: $purple-hover;
        // transform: scale(1.05);
        // oder bissi fetter
    }

    &:hover .title {
        color: $purple;
    }
}