@import './styles/shared';

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #000000;
}

.section-content {
    max-width: 1920px;
    width: 100%;
    @include dFlex($fd: column, $jc: flex-start, $ai: stretch);
    position: relative;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}

button {
    border: unset;
    border-radius: 25px;
    padding: 12px 25px;
    background: none;
    transition: all 0.3s ease-out;

    &:hover {
        cursor: pointer;
    }
}

.button-abled,
.button-disabled {
    border-radius: 25px;
}

.button-abled {
    background: $purple;

    &:hover {
        cursor: pointer;
    }
}

.button-disabled {
    background: $grey;

    &:hover {
        cursor: default;
    }
}

input {
    border: unset;
    outline: none;
}

// Kommt später vielleicht in eigene Komponente, von Benjamin übernommen
.input-container {
    @include dFlex($fd: column, $g: 30px);
    width: 100%;
    padding: 30px 20px;

    .input-field-container {
        position: relative;
        width: 100%;

        >.input-field-image {
            position: absolute;
        }

        >.input-field {
            width: 100%;
            border-radius: 30px;
            border: unset;
            outline: none;
            background: $background-purple;
            padding: 0 15px 0 60px;
            @include fontNunito(16px, 500);
            color: $grey;
        }
    }
}