@import './../../../styles/shared';

.user-image-container {
    position: relative;

    .user-avatar {
        height: 50px;
        aspect-ratio: 1 / 1;
    }

    .online-status {
        width: 14px;
        height: 14px;
    }
}