<div class="outside-overlay out-ov-for-below" (click)="closeAddMember()">
    <div class="overlay-content">
        <form (click)="$event.stopPropagation()" (ngSubmit)="saveMember()" #addMemberForm="ngForm" 
        [ngClass]="{ 'dialog-add-channel': true, 'dialog-add-member': true, 'slide-out': isClosing }">

            <div class="closing-sign" (click)="animateCloseAndExit()">
                <span class="rectangle"></span>
            </div>

            <div class="add-headline">
                <h2>Personen hinzufügen</h2>
                <app-close-button (close)="closeAddMember()"></app-close-button>
            </div>

            <div class="add-member-options">
                <div class="option-block option-block-channel">
                    <div class="option">
                        <input type="radio" id="addChannelMembers" name="add-options" [(ngModel)]="mode"
                            value="allChannels" (ngModelChange)="onModeChange($event)" required>
                        <label for="addChannelMembers">
                            Alle Mitglieder von
                            <button type="button" (click)="openChannelList()" class="chosen-channel">
                                {{ chosenChannelName || 'Produktion' }}
                            </button>
                            hinzufügen.
                        </label>
                    </div>

                    @if (channelListVisible) {
                    <div class="channel-suggestions">
                        <div class="list custom-scrollbar">
                            @for (channel of channelList; track channel.channelId) {
                            <div class="channel-entry" (click)="selectChannel(channel)">
                                {{ channel.channelName.slice(1) }}
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>

                <div class="option-block">
                    <div class="option">
                        <input type="radio" id="addSelectedColleagues" name="add-options" [(ngModel)]="mode"
                            value="selectedColleagues" (ngModelChange)="onModeChange($event)" required>
                        <label for="addSelectedColleagues">Bestimmte Personen hinzufügen.</label>
                    </div>

                    @if (mode === 'selectedColleagues') {
                    <div class="input-colleagues-name">
                        <app-search-for-user [validUsers]="validUsers" [(selectedUsers)]="selectedUsers">
                        </app-search-for-user>
                    </div>
                    }
                </div>
            </div>

            <div class="save-action">
                <app-submit-button label="Erstellen" [disabled]="!isFormActuallyValid()" />
            </div>
        </form>
    </div>
</div>