@import './../../../styles/shared';

.add-member-options {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);

    >.option-block {
        @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);

        >.option {
            @include dFlex($jc: flex-start, $g: 20px);

            &:hover {
                cursor: pointer;
            }

            >label {
                @include fontNunito($size: 18px, $weight: 400);
            }
        }
    }

    >.option-block-channel {
        gap: 8px;
    }
}

.chosen-channel {
    padding: 0;
    @include fontNunito($size: 18px, $weight: 400);
    color: $purple;
}

.channel-suggestions {
    max-height: 250px;
    padding: 0 20px;
    border: 1px solid $grey;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 300px;
    z-index: 80;
    position: relative;
    background: $white;
    margin-left: 33px;

    &:focus-within {
        border-color: $background-purple;
    }

    >.channel-entry {
        padding: 8px 12px;
        border-radius: 20px;
        cursor: pointer;
        @include fontNunito($size: 18px, $weight: 400);

        &:hover {
            background: $background-purple;
        }
    }
}