<section class="searchbar-section">
    <div class="input-container">
        <div class="input-field-container">
            <div #editor contenteditable="true" class="input-field editable-input"
                (input)="onContentInput(); mentionComponent?.saveCursorPosition()"
                (click)="mentionComponent?.saveCursorPosition()" (keyup)="mentionComponent?.saveCursorPosition()"
                (keydown)="onEditorKeyDown($event)" [attr.placeholder]="placeholderQuote">
                <span class="placeholder" *ngIf="isEditorEmpty">{{ placeholderQuote }}</span>
            </div>
            <img plac class="input-field-image" src="assets/icons/search-loupe.svg" alt="search loupe icon">
        </div>
        <app-mention *ngIf="editorNativeElement" [users]="users" [channels]="channels"
            [targetInputElement]="editorNativeElement" contextClass="in-search-bar"
            (mentionSelected)="onMentionSelected($event)">
        </app-mention>
        <div *ngIf="showSuggestions" class="list-overlay list-suggestions">
            <div class="list">
                <button type=“button“ class="suggestions-item" *ngFor="let r of results" (click)="pick(r)">
                    <span>{{ r.message.text | slice:0:50 }}</span><br>
                    <!-- <small>…in {{ extractChatName(r.path) }} – {{ r.message.timeStamp | date:'short' }}</small> -->
                </button>
            </div>
        </div>
    </div>
</section>